[user]
    email = r.dupre@qwant.com
    name = Rémi Dupré
    signingkey = 01CC96711A8C2FEB5972B7D288498F75F2DBC639

[gpg]
    program = /home/remi/scripts/gpg-prompt.sh

[commit]
    gpgsign = true

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
