[user]
    email = {{ user.email }}
    name = {{ user.name }}
    signingkey = 9A55335D0A120F1C1B1183237E40AB46381379CE

[gpg]
    program = /home/remi/scripts/gpg-prompt.sh

[commit]
    gpgsign = true

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
