[Unit]
Description=IMAP/POP3 bridge for ProtonMail

[Service]
Type=simple
ExecStartPre=/home/remi/scripts/wait-for-internet.py
ExecStart=flatpak run ch.protonmail.protonmail-bridge --noninteractive

[Install]
WantedBy=default.target
